@import "global.css";


.board-input {
    height: 28px;
    padding: 0 8px 0 6px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #17394D;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.board-input:focus {
    background: white;
    color: #17394d;
    border: 2px solid #5ba4cf;
    outline: none;
}

.board-input-title {
    width: 100%;
    font-weight: bold;
    margin-right: 4px;
}

.board-input-new-element {
    min-height: 40px;
    min-width: 180px;
    font-weight: normal;
    border: 0 none transparent;
}

.board-input-new-element:focus {
    background: white;
    color: #17394d;
    border: 0 none transparent;
}

.board-column {
    width: 250px;
    background: rgba(223, 227, 230, 0.85);
    border-radius: 5px;
    margin: 10px 10px 0 10px;
    height: 100%;
    min-height: 32px;
}

.board-column-title-wrapper {
    margin: 8px;
    display: flex;
    flex-wrap: nowrap;
}

.board-column-element {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 8px;
    box-shadow: 0 1px gray;
    overflow: auto;
}

.board-column-element-static:hover {
    background: #E0E0E0;
}

.board-column-element-text {
    background: transparent;
    display: inline-block;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-wrap: normal;
}

.board-btn {
    height: 32px;
    background-color: rgba(0, 0, 0, 0.0);
    /*background-color: rgba(255, 255, 255, 0.4);*/
    outline: none;
    border-radius: 5px;
    border-width: 0;
    padding: 5px 10px;
    color: white;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.board-btn-delete-column {
    padding: 8px;
    color: #6B808C;
}

.board-btn-delete-column:hover {
    background: #B9C3C9;
    text-decoration: underline;
}

.board-btn-delete-column:active {
    width: 32px;
    background: #B0BAC0;
    text-decoration: underline;
}

.board-btn-add-element {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    width: 100%;
    color: #6B808C;
}

.board-btn-add-element:hover {
    background: #B9C3C9;
    text-decoration: underline;
}

.board-btn-add-column {
    padding: 8px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.board-btn-add-column:hover {
    background: rgba(100, 100, 100, 0.5);
    text-decoration: underline;
}

.board-btn-add-column-submit {
    background: forestgreen;
    font-weight: bold;
}

.board-btn-add-column-submit:hover {
    background: green;
}

.board-btn-add-column-submit:active {
    background: darkgreen;
}

.board-btn-add-column-cancel {
    color: white;
}

.board-btn-add-column-cancel:hover {
    color: lightgray;
}







.board-modal-window {
    display: none;
    position: fixed;
    z-index: 70;
    background: white;
    width: 300px;
    border-radius: 2px;
    margin: 10px 0 0 25px;
    min-height: 10%;

}

.board-modal-header {
    height: 40px;
    display: flex;
    position: relative;
    margin: 0 8px 0 8px;
    text-align: center;
    border-bottom: 1px solid #9DABB3;
    justify-content: flex-end;
    align-items: center;
}

.board-modal-title {
    flex: 9;
    box-sizing: border-box;
    position: relative;
    text-overflow: ellipsis;
    width: auto;
    color: #9DABB3;
    display: block;
    line-height: 40px;
    margin: 4px;
}

.board-modal-icon-close {
    /*position: absolute;*/
    flex: 1;
    color: #17394D;
    margin: 8px;
    top: 0;
    right: 0;
}

.board-modal-body {
    max-height: calc(65vh - 210px);
    overflow-y: auto;
    width: 100%;
}

.board-modal-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

.board-modal-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.board-modal-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(9,45,66,.3);
    border-radius: 10px;
}

.board-modal-scrollbar::-webkit-scrollbar-track {
    background: rgba(9,45,66,.08);
    border-radius: 10px;
}

.board-modal-btn {
    padding: 8px;
    width: 100%;
    color: #17394D;
    border-radius: 0;
    text-align: left;
    font-weight: bold;
}

.board-modal-p {
    font-size: 14px;
}

.board-modal-btn:hover {
    background: #288DC7;
}

.board-modal-divider {
    color: #9DABB3;
    margin: 0 8px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.board-modal-ro-input {
    width: 375px;
    padding: 5px;
    border-color: blue;
    border-radius: 3px;
    border-width: 2px;
}

.board-modal-menu {
    display: block;
    top: 50px;
    left: 100%;
    width: 30%;
    height: calc(100% - 50px - 4px);
    transition: left 500ms;
}

.board-modal-menu-active {
    left: calc(70% - 4px);
}