@import './global.css';

@import url('https://fonts.googleapis.com/css?family=Poppins');

input {
    outline: none;
    border: none;
}

.login-container-parent {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.login-container-child {
    display: inline-block;
    align-content: center;
    position: relative;
    min-width: 300px;
    padding: 15px;
}

.login-form {
    background-color: #FFFFFF;
}

.login-text {
    margin: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.login-text-label {
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.login-input-container {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 8px 0;
}

.login-input-field {
    overflow: hidden;
    font-family: Poppins-Medium, sans-serif;
    font-size: 16px;
    color: #333333;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 100%;
    outline: none;
    padding: 10px 5px;
}

.login-underline-animation {
    transition: all 0.5s;
    display: block;
    bottom: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
}

.input-field:focus + .underline-animation {
    left: 0;
}

.login-btn {
    position: relative;
    font-family: Poppins-Medium, sans-serif;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #61bd4f;
    background: none;
    padding: 10px;
    z-index: 1;
    outline: none;
}

.login-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.09s ease-in, color 0.09s ease-in;
}

.login-btn:hover:before {
    top: 0;
}

.login-btn-login {
    color: #383736;
}

.login-btn-login:hover {
    color: whitesmoke;
}

.login-btn-login:before {
    background: #61bd4f;
}

.login-btn-login-with-google {
    display: inline-block;
    position: relative;
    border: thin solid #4285F4;
    /*background: #4285F4;*/
    white-space: nowrap;
    color: #383736;
    padding: 5px 10px;
}

.login-btn-login-with-google:hover {
    color: whitesmoke;
}

.login-btn-login-with-google:before {
    background: #4285F4;
}

.login-btn-login-with-google-icon {
    background: url('../images/icons/icon-google.svg') transparent 5px 50% no-repeat;
    background-size: 34px 34px;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.login-btn-login-with-google-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 21px;
    padding-right: 42px;
}

.login-btn-register {;
    border: thin solid #db3236;
    color: #383736;
}

.login-btn-register:hover {
    color: whitesmoke;
}

.login-btn-register:before {
    background: #db3236;
}

.login-container-link {
    margin: 15px;
}

.login-link {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #4285F4;
    text-decoration: none;
    text-align: center;
}